In [ ]:
pip install openpyxl

In [ ]:
pip install xlrd

In [3]:
import pandas as pd
import openpyxl

Se convierte la hoja en excel con datos de la poblaci√≥n de Buenos Aires en Data frame

In [4]:
df_Poblacion = pd.read_excel('proy_1025_depto_caba.xls', sheet_name='CABA')

In [5]:
df_Poblacion

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3028481.0,3033639.0,3038860.0,3044076.0,3049229.0,3054267.0,3059122.0,3063728.0,3068043.0,3072029.0,3075646.0,3078836.0,3081550.0,3083770.0,3085483.0,3086680.0

In [6]:
df_Poblacion = df_Poblacion.dropna()

In [7]:
df_Poblacion

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
2,3028481.0,3033639.0,3038860.0,3044076.0,3049229.0,3054267.0,3059122.0,3063728.0,3068043.0,3072029.0,3075646.0,3078836.0,3081550.0,3083770.0,3085483.0,3086680.0